.booking-page{
    background-color: #18191d;
    min-height: 100vh;
}
.booking-page-title{
    text-align: center;
    line-height: 4;
    font-size: 40px;
    color: #fff;
}
.booking-page-main{
    margin: 0 11rem;
    padding-bottom: 4rem;
}