* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.header{
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0 10rem;
    background-color: #2b3035;
}
.navbar-brand{
    font-size: 26px !important;
    color: #ebebeb !important;
}
.navbar-collapse{
    padding-left: 1rem;
}
.navbar-nav{
    gap: 0.75rem;
}
#nav-left{
    width: 100%;
}
.cred-body{
    background-color: #18191d;
    height: 100vh;
}
.cred-container{
    width: 450px;
    margin: 3rem auto;
    color: #fff;
    padding-bottom: 5rem;
}
.cred-container span{
    line-height: 4;
    font-size: 40px;
}
.booking-card-group{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.booking-card{
    background-color: #2b3035;
    border-radius: 20px;
    height: fit-content;
    position: relative;
}
.booking-card-row-1{
    height: 45%;
    padding: 0 4rem;
    border-bottom: 1px solid #5c5c5c;
}
.booking-card-row-1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.booking-card-row-2{
    color: #ebebeb;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    font-size: 14px;
}
.booking-card-row-3{
    padding: 0 1rem 1rem 1rem;
}
#remove-card{
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
    color: #da3633;
}
.start-date{
    margin-top: 1rem;
    color: #d8d8d8;
    padding: 0 0.8rem;
    display: flex;
    text-wrap: nowrap;
    gap: 0.5rem;
}
.start-date span{
    margin: auto;
}

@media screen and (max-width: 1250px) and (min-width: 990px){
    .header{
        position: sticky;
        top: 0;
        z-index: 100;
        padding: 0 2rem;
        background-color: #2b3035;
    }
    .booking-card-group{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    
}

@media screen and (max-width: 990px){
    .header{
        position: sticky;
        top: 0;
        z-index: 100;
        padding: 0 1rem;
        background-color: #2b3035;
    }
    .booking-card-group{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    .cred-body{
        background-color: #18191d;
        height: 100vh;
    }
    .cred-container{
        width: 80vw;
        margin: 3rem auto;
        color: #fff;
        padding-bottom: 5rem;
    }
    .cred-container span{
        line-height: 1.6;
        font-size: 40px;
    }
    #cred-mail{
        margin-top: 2rem;
    }
}